librosa
praat-parselmouth
scikit-learn
joblib
pandas
numpy
scipy
fastapi
uvicorn
supabase==2.28.3
python-dotenv
sqlalchemy
alembic
psycopg2-binary
passlib[bcrypt]
PyJWT
python-multipart
email-validator
websockets==15.0.1
opencv-python
Pillow
